* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 237, 237);
}

/* Navbar */

.header {
  background-color: #131921;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

.header-logo {
  margin-top: 15px;
  width: 100px;
  margin-right: 20px;
  object-fit: contain;
}

.header-search {
  display: flex;
  flex: 1;
}

.header-searchInput {
  padding: 10px;
  border: none;
  height: 40px;
  width: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.header-searchIcon {
  background-color: #F3A747;
  height: 40px !important;
  width: 40px !important;
  padding: 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-link {
  color: #fff;
  text-decoration: none;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.header-option-one {
  font-size: 12px;
  color: #9A9C9E;
  font-weight: 400;
}

.header-option-two {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
}

.header-shoppingCart {
  display: flex;
  align-items: center;
}

.header-shoppingCartCount {
  margin: 0 3px;
}

/* Banner */

.home {
  margin: 0 auto;
  max-width: 1500px;
}

.home-image {
  width: 100%;
  object-fit: contain;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  z-index: -1;
  margin-bottom: -150px;
}

.home-row {
  display: flex;
  z-index: 1;
  margin: 0 5px;
}

@media (max-width: 500px) {
  .home-row {
    flex-direction: column;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 500px;
  min-width: 100px;
  width: 100%;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  z-index: 1;
}

.product-info {
  height: 100px;
  margin-bottom: 15px;
}

.product-price {
  margin-top: 5px;
}

.product-rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 6px 12px;
  border-radius: 3px;
  min-width: 80%;
  margin: 5px auto;
  cursor: pointer;
}

.product > button:hover {
  background-color: #e6b948;
}

/* Checkout page */

.checkout {
  background: #fff;
}

.checkout-ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout-section {
  display: flex;
  padding: 10px 20px;
}

.checkout-section-left {
  flex: 1;
  margin-right: 30px;
}

.checkout-title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.checkoutProduct {
  display: flex;
  padding: 10px 0;
}

.checkoutProduct-image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.checkoutProduct-info {
  padding: 10px 20px
}

.checkoutProduct-title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct-rating {
  margin-bottom: 8px;
}

.checkoutProduct-info > button,
.subtotal > button,
.login-signInButton,
.login-registerButton {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
}

.checkoutProduct-info > button:hover,
.subtotal,
.login-Button,
.login-registerButton > button:hover {
  background-color: #e6b948;
}

.subtotal {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.subtotal-gift {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.subtotal-gift > input {
  margin-right: 5px;
}

/* Login page */

.login {
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
}

.login-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 1.6rem;
  align-self: center;
}

.login-container > form > h5 {
  margin-bottom: 5px;
}

.login-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 0 5px;
  width: 100%
}

.login-container > p {
  margin-top: 15px;
  font-size: 12px;
  margin-bottom: 14px;
}

.login-logo {
  width: 100px;
  object-fit: contain;
  margin: 20px 0;
}

.login-signInButton {
  width: 100%;
  margin-top: 10px;
}

.login-registerButton {
  background-color: rgb(233, 231, 231);
  margin-bottom: 10px;
}

.login-registerButton:hover {
  background-color: lightgray;
}